In [1]:
import pickle
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [2]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [3]:
with open('finalized_model.pkl', 'rb') as f:
    mnb, tfidf = pickle.load(f)

In [27]:
Tweett = "Sun is hotter than fire"
d = {'Tweet': [Tweett]}
input_query = pd.DataFrame(data=d)
input_query

                     Tweet
0  Sun is hotter than fire

In [28]:
tokenizer=nltk.tokenize.RegexpTokenizer(r'\w+')
input_query["Tweet"] = input_query["Tweet"].apply(lambda x:tokenizer.tokenize(x))
input_query["Tweet"].head()

0    [Sun, is, hotter, than, fire]
Name: Tweet, dtype: object

In [29]:
def remove_stopwords(text):
    words = [w for w in text if w not in stopwords.words('english')]
    return words 
input_query["Tweet"] = input_query["Tweet"].apply(lambda x : remove_stopwords(x))
input_query.head()

                 Tweet
0  [Sun, hotter, fire]

In [30]:
lem = WordNetLemmatizer()
def lem_word(x):
    return [lem.lemmatize(w) for w in x]

In [31]:
input_query["Tweet"] = input_query["Tweet"].apply(lem_word)
input_query

                 Tweet
0  [Sun, hotter, fire]

In [32]:
def combine_text(list_of_text):
    '''Takes a list of text and combines them into one large chunk of text.'''
    combined_text = ' '.join(list_of_text)
    return combined_text

input_query["Tweet"] = input_query["Tweet"].apply(lambda x : combine_text(x))
input_query["Tweet"]

0    Sun hotter fire
Name: Tweet, dtype: object

In [33]:
Tweet = tfidf.transform(input_query["Tweet"])
Tweet

<1x10698 sparse matrix of type '<class 'numpy.float64'>'
	with 2 stored elements in Compressed Sparse Row format>

In [34]:
y_pred = mnb.predict(Tweet)

In [35]:
y_pred[0]

0